# Maven
target/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
logs/
*.log

# Terraform / OpenTofu
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars

# Arquivos temporários usados durante import/debug
backend-challenge-infra/*.txt

# Ambiente
.env
.env.*
!.env.example

# Sistema Operacional
.DS_Store
Thumbs.db

# Java
*.class